<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.gamebooster" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application android:allowBackup="true" android:debuggable="true" android:icon="@android:drawable/sym_def_app_icon" android:label="GameBooster" android:theme="@android:style/Theme.Holo.Light.DarkActionBar" android:usesCleartextTraffic="true">
        <activity android:exported="true" android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:enabled="true" android:exported="false" android:foregroundServiceType="mediaProjection" android:name=".FloatingControlService"/>
        <service android:enabled="true" android:exported="false" android:foregroundServiceType="connectedDevice" android:name=".GameBoosterVpnService" android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>
    </application>
</manifest>